* {
  margin: 0px; }

.order_summary_main_section {
  background: white;
  box-shadow: 0px 24px 80px #7474e33b;
  border-radius: 21px;
  padding: 30px 28px;
  margin-bottom: 150px; }

.boxs_heading h4 {
  color: #1E255E;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 12px; }

.dl_col ul {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0px !important; }
  .dl_col ul li {
    color: #1E255E;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1;
    word-wrap: break-word;
    margin-bottom: 8px; }
  .dl_col ul li:last-child {
    margin-bottom: 0px; }

a.changes {
  color: #21C4AC;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1;
  word-wrap: break-word;
  text-decoration: none; }

a.changes span {
  font-size: 11px;
  margin-left: 11px; }

.boxs_col_contents {
  display: flex;
  align-items: end;
  justify-content: space-between; }

.boxs_column_item {
  border-bottom: 1px solid #E5EAEE;
  padding-bottom: 24px; }

.boxs_column_item.nxter_cols {
  padding-top: 24px; }

.border_col_right {
  border-right: 1px solid #E5EAEE; }

.inner_table_header {
  padding: 24px 28px;
  border-bottom: 1px solid #E5EAEE; }

.product_image > span {
  background: #F1F2F4;
  border-radius: 10px;
  width: 77px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center; }

.inner_product_details h4 {
  color: #1E255E;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 5px; }

span.qyt_badge {
  background: rgba(24, 198, 167, 0.17);
  border-radius: 26px;
  line-height: 1;
  padding: 5px 14px;
  color: #21C4AB;
  font-size: 11px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1;
  width: 52px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center; }

.buying_product_details {
  display: flex;
  align-items: center; }

.inner_product_details {
  padding-left: 12px; }

.table_product_item {
  padding: 24px 28px; }

.quentity_boxs > button {
  background: white;
  border-radius: 9999px;
  height: 22px;
  width: 22px;
  font-size: 12px;
  color: #1E255E;
  border: none;
  outline: none; }

.product_price_column > button {
  height: 22px;
  width: 22px;
  font-size: 12px; }

.inner-quentity-and-prices {
  width: 100px;
  height: 32px;
  display: flex;
  align-items: center; }

.quentity_label > input {
  color: #1E255E;
  font-size: 15px;
  line-height: 1;
  width: 25px;
  text-align: center; }

.table_heading_title.sum {
  display: flex;
  align-items: center;
  height: 100%; }
  .table_heading_title.sum h4 {
    color: #FF4668;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    line-height: 1;
    margin-bottom: 0; }
    .table_heading_title.sum h4 span {
      color: #FF4668;
      font-size: 12px;
      font-family: Poppins;
      font-weight: 600;
      word-wrap: break-word; }

.table_heading_title.price {
  height: 100%;
  display: flex;
  align-items: center; }
  .table_heading_title.price h4 {
    color: #1E255E;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    line-height: 1;
    margin-bottom: 0; }
    .table_heading_title.price h4 span {
      color: #1E255E;
      font-size: 12px;
      font-family: Poppins;
      font-weight: 600;
      word-wrap: break-word; }

.table_heading_title.product_delivery_date {
  height: 100%;
  align-items: center;
  display: flex; }

.table_heading_title.quantity {
  display: flex;
  align-items: center;
  display: flex;
  height: 100%; }

.main_inner_preadit_sect h3 {
  color: #1E255E;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 6px; }

.main_inner_preadit_sect h1 {
  color: #21C4AC;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 50px;
  word-wrap: break-word;
  line-height: 1;
  margin: 0px; }

.img_promoProduct_box span {
  background: white;
  border-radius: 10px;
  display: flex;
  width: 64px;
  height: 59px;
  align-items: center;
  justify-content: center; }

.promo_productts_contest h3 {
  color: #1E255E;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 6px; }

.promo_productts_contest > h4 {
  color: #FF4668;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 1;
  margin-bottom: 0; }
  .promo_productts_contest > h4 > span {
    color: #FF4668;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word; }

.inner_predit_boxs {
  background: rgba(103, 193, 206, 0.12);
  border-radius: 10px;
  border: 1px #21C4AC dashed;
  padding: 15px 16px; }

.product_predit_sectionn {
  padding: 24px 28px; }

.inner_promo_product {
  display: flex;
  align-items: center; }

.promo_productts_contest {
  padding-left: 14px; }

.main_inner_preadit_sect {
  margin-bottom: 20px; }

button.predit_ntn {
  background: #FF9900;
  border-radius: 9px;
  line-height: 1;
  border: none;
  outline: none;
  color: white;
  margin-bottom: 13px;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  word-wrap: break-word;
  padding: 12px 20px;
  width: 100%; }

button.inner_preadit_btns {
  background: #21C4AB;
  border-radius: 9px;
  line-height: 1;
  border: none;
  outline: none;
  color: white;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  word-wrap: break-word;
  padding: 12px 20px;
  width: 100%;
  /* outline: navajowhite; */
  margin-bottom: 13px; }

.preadit_label h4 {
  color: #21C4AC;
  font-size: 11px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 0;
  line-height: 1; }

.table_product_item {
  border-bottom: 1px solid #E5EAEE; }

.product_predit_sectionn {
  border-bottom: 1px solid #E5EAEE; }

.producate_shnake {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center; }

.total_count_product_sections h4 {
  color: #8795A7;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 0;
  line-height: 1; }

button.deleted_product {
  color: #8795A7;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  padding: 12px 23px;
  width: 190px;
  border-radius: 12px;
  border: 1px #E5EAEE solid;
  background: #fff;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

button.deleted_product span {
  margin-left: 9px; }

.button_delete_product_item {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end; }

.inner_count_table_areas {
  padding: 20px 28px; }

.order_summary_header h4 {
  color: #1E255E;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 0; }

.table_heading_title h4 {
  color: #B5B5C3;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.36px;
  word-wrap: break-word; }

.orde_summary_sections {
  border-radius: 10px;
  border: 1px #21C4AC solid;
  padding: 20px 0px;
  margin-left: 16px; }

.table_product_item.last_item {
  border-bottom: 0px; }

.order_summary_header {
  padding: 0px 23px; }

.table_heading_title.quantity h4 {
  color: #1E255E;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1;
  word-wrap: break-word;
  width: 66%;
  text-align: center; }

.type_boxs_header h4 {
  color: #1E255E;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 12px; }

.type_boxs_content h4 {
  color: #1E255E;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 0; }

.type_box_wraper.right_type {
  text-align: right; }

.type_box_wraper.right_type .type_boxs_header {
  margin-bottom: 12px; }

.type_box_inner_content h4 {
  color: #1E255E;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 0; }
  .type_box_inner_content h4 span {
    color: #1E255E;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1;
    word-wrap: break-word;
    margin-left: 9px; }

.inner_delivery_type_boxs {
  background: rgba(241, 242, 244, 0.56);
  border-radius: 10px;
  padding: 14px 22px; }

.back_btns.next_btnss {
  display: flex;
  align-items: center;
  justify-content: end; }
  .back_btns.next_btnss > button {
    display: flex;
    align-items: center; }

span.next-arrow {
  margin-left: 10px; }

.bottom_backss {
  margin-top: 55px; }

.bottom_pey_section {
  margin-top: 78px; }
