.big_thumbess {
  border-radius: 10px;
  border: 1px #E4E4E4 solid;
  height: 409px;
  display: flex;
  align-items: center;
  justify-content: center; }

.product_detail_thumb_boxs {
  border-radius: 21px;
  padding: 15px 16px;
  position: relative; }

.product_details_section {
  background: white;
  box-shadow: 0px 24px 80px rgba(116, 116, 227, 0.1);
  border-radius: 21px; }

.product_details_content_areas {
  padding-right: 13px;
  padding-top: 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: center; }

.quentity-and-prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  border-bottom: 1px rgba(181, 181, 195, 0.26) solid;
  padding-bottom: 30px; }

.inner_add_to_cart > button {
  background: linear-gradient(270deg, #8FABE8 0%, #17C6A6 100%);
  border-radius: 12px;
  line-height: 1;
  color: white;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  padding: 15px 80px;
  width: 100%;
  text-align: center;
  justify-content: center;
  border: none;
  outline: none; }

.inner_add_to_cart > button > span {
  margin-left: 12px; }

a.likes_tag {
  position: absolute;
  left: 40px;
  top: 40px; }

.product_detail_thumb_dot_items {
  border-radius: 10px;
  border: 1px #E4E4E4 solid;
  width: 120px;
  height: 100px; }

.product_detail_thumb_dot_items_inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.product_detail_thumb_dot_items_inner > img {
  width: 70px !important; }

.product_detail_thumb_img_boxs_indicate_slides {
  display: flex;
  margin-top: 14px;
  align-items: center;
  justify-content: space-between; }

.inner-quentity-and-prices {
  background: #F1F2F4;
  border-radius: 39px;
  width: 143px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 5px; }

.quentity_boxs > button {
  background: white;
  border-radius: 9999px;
  height: 33px;
  width: 33px;
  color: #1E255E;
  border: none;
  outline: none; }

.product_price_column > button {
  background: linear-gradient(111deg, #01CC99 0%, #87ADE4 100%);
  border-radius: 9999px;
  height: 33px;
  width: 33px;
  color: #ffffff;
  border: none;
  outline: none; }

.quentity_label > input {
  color: #1E255E;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  text-align: center; }

.product_dtl_name > h3 {
  color: #1E255E;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 1;
  margin-bottom: 20px; }

.product_dtl_prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px; }

.product_dtl_prices > span {
  color: #62668E;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word; }

.product_dtl_prices > h4 {
  color: #1E255E;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 0; }

.product_dtl_prices.curentss {
  background: rgba(255, 199, 0, 0.28);
  border-radius: 9px; }

.qut_price_titles_inner > h2 {
  color: #FF4668;
  font-size: 26px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 5px;
  line-height: 1; }

.qut_price_titles_inner > h2 > span.sml_txt {
  color: #FF4668;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.qut_price_titles_inner > h4 {
  color: #62668E;
  font-size: 13px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 0; }

span.de_bx_produvt_dt {
  background: #18C6A7;
  border-radius: 9999px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center; }

.delivery_dtlss_produvt_dt {
  margin-left: 15px; }

.delivery_dtlss_produvt_dt > h2 {
  color: #1E255E;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 5px; }

.delivery_dtlss_produvt_dt > h4 {
  color: rgba(30, 37, 93, 0.33);
  font-size: 11px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  word-wrap: break-word;
  margin-bottom: 0; }

.inner_deliveryess_produvt_dt {
  display: flex;
  align-items: center; }

.delivery_sections {
  background: #D8F5F0;
  border-radius: 12px;
  padding: 8px 18px; }

.add_to_cart {
  margin-bottom: 28px; }

.main_product_details_container {
  background: white;
  box-shadow: 0px 24px 80px rgba(116, 116, 227, 0.1);
  border-radius: 21px;
  padding: 37px 34px;
  margin-top: 88px;
  position: relative; }

.main_product_details_container > .header_dest_prodsst {
  background: #fff;
  position: absolute;
  height: 50px;
  top: -45px;
  border-radius: 10px 10px 0px 0px; }

.main_product_details_container > .header_dest_prodsst > h4 {
  width: 242px;
  text-align: center;
  color: #1E255E;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 50px;
  word-wrap: break-word; }

.inner_dtc > p {
  color: rgba(30, 37, 93, 0.5);
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 18px;
  word-wrap: break-word;
  margin-bottom: 18px; }

.inner_dtc > h4 {
  color: #1E255D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 18px; }

.main_table_descriptions > h4 {
  color: rgba(30, 37, 93, 0.5);
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 13px; }

.main_table_descriptions > h4 > span {
  color: #1E255D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 18px;
  word-wrap: break-word; }

thead.custom_tb_header {
  /* border: gainsboro; */
  border-bottom: 1px solid white !important; }

thead.custom_tb_header > tr > th {
  background: rgba(241, 242, 244, 0.56);
  color: #1E255D;
  font-size: 12px !important;
  font-family: Poppins !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  line-height: 18px;
  word-wrap: break-word  !important; }

.dtl_pd_desc.bottom_tables_containers > .inner_dtc p.only_end {
  margin-bottom: 0px !important; }

.dtl_pd_desc.bottom_tables_containers > .inner_dtc > p > span {
  color: #1E255D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 18px;
  word-wrap: break-word; }

.dtc_table_boxs {
  background: rgba(241, 242, 244, 0.56);
  margin-bottom: 19px;
  width: 420px;
  border-radius: 10px;
  border: 1px #21C4AC solid; }

.dtc_table_boxs > table.table.table-borderless.custom_tables {
  background: transparent !important; }

.dtc_table_boxs > table.table.table-borderless.custom_tables > tbody > tr {
  background: rgba(241, 242, 244, 0.56) !important; }

.dtc_table_boxs > table.table.table-borderless.custom_tables > tbody > tr > th {
  color: #1E255D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 18px;
  word-wrap: break-word; }

.dtc_table_boxs > table.table.table-borderless.custom_tables > tbody > tr > td {
  color: #1E255D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 18px;
  word-wrap: break-word; }

.table > :not(caption) > * > * {
  background-color: transparent !important; }

.special_offer_headers {
  margin-bottom: 27px; }

.special_offer_headers > .columns_slide_block.headers.arives > h3 {
  color: #1E255E;
  font-size: 28px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1;
  word-wrap: break-word; }

.special_offer_headers > .columns_slide_block.headers.arives > h3 span {
  color: #18C6A7;
  font-size: 28px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1;
  word-wrap: break-word; }

.pd_item {
  padding-bottom: 0px !important; }

.more_arivel_end {
  position: relative; }

img.prod_bg_shadow {
  top: 0;
  height: unset !important; }

.get_in_touch_sections {
  margin-top: 43px; }

.get_in_touch_sections .inner_get_intouch > .customer_services {
  margin-top: 0px; }

a.stock_product {
  width: 68px !important;
  position: absolute;
  right: 25px;
  top: 21px; }

a.stock_product > span {
  display: block;
  width: 68px; }

a.stock_product > span > img {
  width: 100%; }

.product_image_box {
  background: #F1F2F4;
  border: none; }

.product_details_content_areas {
  position: relative; }

.product_details_content_areas span.product_details_tag_dtl {
  display: flex;
  position: absolute;
  right: -20px;
  top: -29px; }

.owl-carousel .owl-item .big_thumbess > img {
  width: auto !important; }

.product_detail_main_thumb_img_boxs {
  position: relative; }

.product_detail_main_thumb_img_boxs a.left_btns_prod_arro {
  position: absolute;
  border-radius: 43px;
  border: 1px #DCDDE6 solid;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  color: rgba(30, 37, 94, 0.4);
  top: 50%;
  transform: translateY(-50%);
  left: 18px; }

.product_detail_main_thumb_img_boxs a.right_btns_prod_arro {
  position: absolute;
  border-radius: 43px;
  border: 1px #DCDDE6 solid;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  color: rgba(30, 37, 94, 0.4);
  top: 50%;
  transform: translateY(-50%);
  right: 18px; }

.product_detail_main_thumb_img_boxs {
  display: block !important; }

span.product_details_tag_dtl.mobs_tag {
  display: none !important; }

.main_row_heading > h4 {
  color: #1E255E;
  font-size: 11px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 0; }

.seller_lists > ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0; }

.seller_lists > li label.label_texts_products {
  color: #1E255E;
  font-size: 8px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word; }

.seller_lists > li > b {
  color: #1E255E;
  font-size: 11px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.seller_lists > li > b span.sml {
  color: #1E255E;
  font-size: 8px !important;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.top_popup_rows {
  display: flex;
  align-items: center; }

.inner_quyts {
  display: flex;
  align-items: center; }

.inner_quyts label.quts_labels {
  color: #1E255E;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-right: 20px; }

.inner_sales_price_wrapers > button {
  background: linear-gradient(270deg, #8EABE8 0%, #06CA9C 100%);
  border-radius: 51px;
  padding: 9px 10px;
  padding-left: 32px;
  width: 100%;
  line-height: 1;
  height: 56px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.inner_sales_price_wrapers > button > label {
  color: white;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.inner_sales_price_wrapers > button > span {
  background: white;
  border-radius: 28px;
  padding: 9px 14px;
  line-height: 1;
  color: #1E255E;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.sales_price_wrapers {
  margin-top: 24px; }

.sales_old_pricess {
  margin-top: 28px; }

.sales_old_pricess > h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0; }

.sales_old_pricess > h4 > label {
  color: rgba(98, 102, 142, 0.44);
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word; }

.sales_old_pricess > h4 > span {
  color: #1E255E;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  text-decoration: line-through;
  word-wrap: break-word; }

.quentity-and-prices.onlys_mrg {
  margin-top: 20px;
  margin-bottom: 25px; }

@media only screen and (max-width: 790px) and (min-width: 300px) {
  span.product_details_tag_dtl.mobs_tag {
    display: block !important; }
  .special_offer_headers {
    display: flex;
    align-items: center !important;
    flex-direction: row !important;
    justify-content: space-between !important; }
  .special_offer_headers > .columns_slide_block.headers.arives > h3 {
    color: #1E255E;
    font-size: 28px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
    margin-bottom: 0; }
  a.stock_product {
    width: 68px !important;
    position: absolute;
    right: 79px;
    top: 21px; }
  .pd_item {
    padding-bottom: 30px !important; }
  .main_product_details_container > .header_dest_prodsst {
    background: #fff;
    position: absolute;
    height: 50px;
    top: -45px;
    border-radius: 10px 10px 0px 0px;
    left: 50%;
    transform: translateX(-50%); } }
