@import "https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
.hero_section.product_catlog > img {
  width: 100%;
  position: absolute;
  height: 234px;
  min-height: 234px; }

.desk_top_menus {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 24px 80px rgba(116, 116, 227, 0.25);
  border-radius: 20px;
  backdrop-filter: blur(79.4px); }

.header_navigations > ul {
  list-style: none;
  padding-left: 0px; }

.header_navigations > ul > li {
  display: inline-block; }

.header_navigations > ul > li > a {
  color: #B5B7CA;
  text-decoration: none;
  font-size: 13px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1;
  word-wrap: break-word; }

.header_navigations > ul > li > a.curent_pages {
  color: #1E255E;
  font-size: 13px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1;
  word-wrap: break-word;
  color: #1E255E;
  font-size: 13px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1;
  word-wrap: break-word; }

.cats_filtest {
  background: rgba(135, 149, 167, 0.1);
  border-radius: 11px;
  padding: 0px 10px;
  height: 40px; }

.cats_filtest > select {
  color: #1E255E;
  font-size: 12px;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 57px;
  word-wrap: break-word;
  outline: none;
  background: transparent;
  padding: 8px 14px;
  padding-left: 2px; }

.cats_filtest > span {
  color: rgba(30, 37, 94, 0.42);
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 40px;
  word-wrap: break-word; }

.cats_filtest_sect > button {
  background: #052347;
  border-radius: 11px;
  border: none;
  outline: none;
  padding: 12px 12px;
  line-height: 1;
  color: white;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1;
  word-wrap: break-word;
  margin-left: 11px; }

.cats_filtest_sect > button > span {
  margin-left: 16px; }

.product_filter_category_sections.d_fls {
  display: flex;
  justify-content: end;
  align-items: center; }

.product_filter_category_sections.add_offs {
  width: 200px; }

.cats_filtest.only_off {
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.action_header_count_get {
  height: 100%;
  display: flex;
  align-items: center; }

.action_header_count_get > h4 {
  color: rgba(98, 102, 142, 0.44);
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 0; }

.action_header_filtes {
  display: flex;
  align-items: center;
  justify-content: end; }

.action_header_filtes > select {
  color: #1E255E;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1;
  word-wrap: break-word;
  background: rgba(135, 149, 167, 0.1);
  border-radius: 11px;
  padding: 8px 15px;
  border: none;
  outline: none; }

.product_header_action_get {
  margin-top: 22px;
  margin-bottom: 21px; }

.product_card_boxs {
  background: white;
  box-shadow: 0px 24px 80px rgba(116, 116, 227, 0.1);
  border-radius: 21px;
  padding: 13px;
  position: relative;
  margin-bottom: 30px; }

.product_titless {
  margin-bottom: 11px; }

.product_titless > h4 {
  color: #1E255E;
  font-size: 13px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 0; }

.product_quenty {
  margin-bottom: 13px; }

.product_quenty > span {
  background: #F1F2F4;
  border-radius: 26px;
  width: 52px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1E255E;
  font-size: 11px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.delivery_dtlss > h2 {
  color: #1E255E;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 5px !important; }

.delivery_dtlss > h4 {
  color: #21C4AB;
  font-size: 8px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  word-wrap: break-word;
  margin-bottom: 0; }

span.de_bx {
  background: #18C6A7;
  border-radius: 9999px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center; }

span.de_bx > img {
  width: 16px;
  height: 16px; }

.inner_deliveryess {
  display: flex;
  align-items: center; }

.deliverys_boxes {
  margin-right: 5px; }

span.productss_prices {
  color: #FF4668;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

a.bagesss {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px #21C4AC solid;
  padding: 7px 12px; }

.price_boxes {
  margin-bottom: 15px; }

.product_thumb_sections {
  border-radius: 10px;
  border: 1px #E4E4E4 solid;
  margin-bottom: 14px; }

.count_down_sections {
  background: linear-gradient(270deg, #8EABE8 0%, #06CA9C 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px; }

.count_down_sections > h4 {
  color: white;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 0px; }

.time_count_boxs {
  background: white;
  border-radius: 28px;
  color: #1E255E;
  font-size: 9px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  width: 82px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.product_img_boxs {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 7px; }

a.free_gifts {
  background: #FFE3B8;
  border-radius: 0px 25px 25px 0px;
  text-decoration: none;
  color: #FF9900;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  padding-left: 19px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  width: 71px;
  position: absolute;
  top: 3px; }

span.fire_img {
  display: block;
  width: 25px;
  position: absolute;
  left: -13px;
  top: 50%;
  transform: translateY(-50%); }

span.fire_img > img {
  width: 25px; }

a.off_boxs {
  display: block;
  width: 40px;
  position: absolute;
  right: 4px;
  top: 3px; }

a.off_boxs > span {
  display: block;
  width: 40px; }

a.off_boxs > span > img {
  width: 40px; }

.d-none {
  display: none; }

.blank_time_boxs {
  height: 38px;
  width: 100%; }

a.off_boxs.tags {
  right: -3px;
  top: -2px; }

.count_down_sections.blacks {
  background: #000000; }

.count_down_sections.blacks > h4 {
  color: white;
  font-size: 11px;
  font-family: Pacifico;
  font-weight: 400;
  word-wrap: break-word; }

a.off_boxs.new_tags {
  width: 64px;
  top: -5px;
  right: -6px; }

a.off_boxs.new_tags > span {
  width: 100%; }

a.off_boxs.new_tags > span > img {
  width: 100%; }

.main_innPaginations_contd {
  display: flex;
  align-items: center;
  justify-content: end; }

.main_innPaginations_contd > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

.main_innPaginations_contd > ul > li {
  display: inline-block;
  margin: 0px 6px; }

.main_innPaginations_contd > ul > li > a {
  text-decoration: none;
  color: #B5B5C3;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word; }

span.left_pagination_btns.custom_number {
  background: #F1F2F4;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B5B5C399; }

span.right_pagination_btns.custom_number {
  background: #21C4AC;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; }

span.number_btns.current_pagess {
  color: #1E255E;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word; }

.inner_product_count_areas > h4 {
  color: rgba(98, 102, 142, 0.44);
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 0; }

.bottom_pagination_areas {
  margin-top: 20px; }

.subscribe_sections {
  margin-top: 72px !important; }

.product_page_header {
  margin-top: 20px;
  margin-top: 20px;
  margin-bottom: 16px; }

.header_titles > h4 {
  margin-bottom: 0;
  color: #1E255E;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 26px; }

.product_filter_category_sections.only_off_grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr); }

.cats_filtest.only_off_thiss {
  text-align: center; }

span.small_price_for_catelog {
  color: #FF4668;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.top_image_thumb {
  background: #F1F2F4;
  border-radius: 10px;
  width: 90px;
  height: 68px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-right: 14px; }

.buy_section_areas {
  margin-top: 14px; }

.inner_bue {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.inner_bue .green_btnss {
  width: 98%;
  margin-right: 4px; }

.inner_bue .green_btnss button {
  background: #21C462;
  border-radius: 10px;
  line-height: 1;
  color: white;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  padding: 13px 10px;
  border: none;
  outline: none;
  height: 42px;
  width: 100%; }

.inner_bue .white_btnss {
  width: 98%;
  margin-left: 4px; }

.inner_bue .white_btnss button {
  background: #21c4ac73;
  border-radius: 10px;
  line-height: 1;
  color: #21C4AB;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  padding: 13px 10px;
  border: none;
  outline: none;
  height: 42px;
  width: 100%; }

.top_pop_desc > h4 {
  color: #1E255E;
  font-size: 13px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.catelog_popup_box {
  background: white;
  box-shadow: 0px 24px 80px rgba(116, 116, 227, 0.1);
  border-radius: 21px;
  width: 288px;
  padding: 17px 16px; }

.main_row_heading {
  margin-bottom: 15px; }

.main_row_heading > h4 {
  color: #1E255E;
  font-size: 11px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 0; }

.comboss {
  background: rgba(241, 242, 244, 0.56);
  border-radius: 10px;
  border: 1px #21C4AC solid;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 13px;
  padding-bottom: 31px;
  margin-top: 17px; }

.inner_delivery_sectionss {
  display: flex;
  align-items: center; }

.dels_contents h4 {
  color: #1E255E;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  margin-bottom: 6px; }

.dels_contents > p {
  color: rgba(30, 37, 93, 0.33);
  font-size: 8px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: capitalize;
  word-wrap: break-word;
  margin-bottom: 0; }

.del_iconss {
  margin-right: 7px; }

.delivery_sectionss {
  margin-top: 24px; }

.cates_bg_popups {
  display: none;
  background: rgba(24, 28, 50, 0.11);
  backdrop-filter: blur(5.4px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.deliverysses {
  cursor: pointer; }

.catelog_popup_box {
  display: none;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.catelog_popup_box a.catlog_closes_btnss {
  background: white;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.13);
  border-radius: 9999px;
  width: 37px;
  height: 37px;
  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
  color: #8795A7;
  text-decoration: none;
  position: absolute;
  right: -12px;
  top: -11px; }

.seller_lists > ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0; }

.seller_lists > ul li.active_yellows {
  background: rgba(255, 199, 0, 0.29);
  border-radius: 27px;
  padding: 4px 9px; }

.seller_lists > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 27px;
  padding: 4px 9px;
  cursor: pointer; }

.seller_lists > ul > li label.label_texts_products {
  color: #1E255E;
  font-size: 8px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word; }

.seller_lists > ul > li > b {
  color: #1E255E;
  font-size: 11px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.seller_lists > ul > li > b span.sml {
  color: #1E255E;
  font-size: 8px !important;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.quentity_boxs > button {
  background: white;
  border-radius: 9999px;
  height: 20px !important;
  width: 20px !important;
  font-size: 10px !important;
  color: #1E255E;
  border: none;
  outline: none; }

.product_price_column > button {
  border-radius: 9999px;
  height: 20px !important;
  width: 20px !important;
  font-size: 10px !important; }

.quentity_label > input {
  color: #1E255E;
  font-size: 15px !important; }

.inner-quentity-and-prices {
  width: 87px !important;
  height: 30px !important;
  padding: 4px 5px !important;
  line-height: 1 !important; }

.left_cols > h4 {
  color: #FF4668;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  list-style: 1;
  margin-bottom: 0px; }

.left_cols > h4 > span {
  color: #FF4668;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word; }

.left_cols p {
  color: #1E255E;
  font-size: 7px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 0px;
  line-height: 1; }

.main_last_thrd {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.top_popup_rows {
  display: flex;
  align-items: center; }

.qut_row {
  margin-bottom: 15px; }

.next_third_boxs {
  margin-top: 18px; }

@media only screen and (max-width: 790px) and (min-width: 300px) {
  button.right_btns_slide_for_menu {
    width: 32px;
    height: 32px;
    box-shadow: 0px 4px 20.8px rgba(0, 0, 0, 0.13);
    right: -12px !important; }
  button.left_btns_slide_for_menu {
    width: 32px;
    height: 32px;
    box-shadow: 0px 4px 20.8px rgba(0, 0, 0, 0.13);
    left: -12px !important; }
  .mobile_top_side_ber {
    position: absolute !important; } }
