/* js_cont_justify */
@media only screen and (max-width: 999px) and (min-width: 300px) {
  .wraping_top_tool {
    height: 100%; }
  .wraping_top_tool .header_menu {
    display: none; } }

@media only screen and (max-width: 790px) and (min-width: 300px) {
  .login_logo_boxs > img {
    width: 147px;
    margin-bottom: 10px; }
  .login_content > p {
    color: white;
    font-size: 12px;
    line-height: 18px; }
  .login_page_sections {
    background: linear-gradient(287deg, #21C4AB 0%, #8EABE8 100%); }
  .login_content {
    margin-bottom: 49px; }
  .inner_logoInd_section {
    margin-top: 80px; }
  .login_page_sections {
    width: 90%;
    height: auto; }
  .btns_wrapers {
    flex-direction: column; }
  .sub_btn_areas_sections.log_rights {
    margin-left: 0; }
  button.log_btns {
    margin-bottom: 15px;
    width: 100%; }
  button.log_for-google {
    width: 100%; }
  .tcs_sectionss {
    margin-top: 30px;
    margin-bottom: 28px; }
  .login_page_sections {
    border-radius: 15px;
    z-index: 9999999; }
  .login_bg {
    z-index: 99999; }
  a.form_close {
    background: rgba(255, 255, 255, 0.75) !important; }
  .mobile__qrs {
    display: block; }
  .none_mobile_product {
    display: none; }
  .inner_auth_company {
    display: grid;
    grid-template-columns: repeat(3, 2fr); }
  .menu-section {
    display: none; }
  .menu-section.mobile_slides_menus {
    display: block; }
  .search_boxs {
    display: none; }
  .mobile_text {
    display: none; }
  .right_action_tools > ul > li {
    margin-right: 5px; }
  .logo > a > img {
    width: 100%; }
  .login_header > h3 {
    color: #1E255E;
    font-size: 25px;
    margin-top: 28px; }
  .login_header p {
    font-size: 15px; }
  .login_header {
    margin-bottom: 30px; }
  .owl-item > li > a {
    color: #1E255E;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1;
    word-wrap: break-word;
    display: block;
    text-decoration: none;
    text-align: center; }
  .owl-item > li > a > span > img {
    width: 30px !important;
    margin-bottom: 10px; }
  .owl-item .msin_pradion_content {
    margin-top: 20px;
    margin-bottom: 30px; }
  .msin_pradion_content {
    margin-top: 20px;
    margin-bottom: 30px; }
  .main_inner_preadit_sect h3 {
    color: #1E255E;
    font-size: 12px;
    margin-bottom: 6px; }
  .preadit_btnss_areass {
    width: 175px;
    margin: auto; }
  .desk_top_menus {
    background: #ffffffed;
    border-radius: 20px;
    padding: 12px 0px;
    padding-bottom: 6;
    border-radius: 20px; }
  button.left_btns_slide_for_menu {
    background: #fff;
    border-radius: 43px;
    border: none;
    width: 32px;
    height: 32px;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    left: 6px; }
  button.right_btns_slide_for_menu {
    background: #ffffff;
    border-radius: 43px;
    border: none;
    width: 32px;
    height: 32px;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    right: 6px; }
  .product_filter_category_sections.d_fls {
    justify-content: start;
    margin-top: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-top: 1px solid #b5b5c391;
    border-bottom: 1px solid #b5b5c391; }
  .cats_filtest_sect > button {
    width: 100%; }
  .product_titless > h4 {
    color: #1E255E;
    font-size: 10px; }
  .count_down_sections.blacks > h4 {
    color: white;
    font-size: 9px; }
  .cats_filtest {
    width: 48%; }
  .count_down_sections > h4 {
    color: white;
    font-size: 8px; }
  .product_filter_category_sections.d_fls {
    justify-content: space-between; }
  .desk_ban_img {
    display: none; }
  .mob_ban_img {
    display: block; }
  .blanks_height_banner {
    height: 150px; }
  .slider_contents {
    padding-left: 30px; }
  .sl_content > h2 {
    font-size: 20px;
    color: #1E255E;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word;
    margin-bottom: 10px; }
  .sl_content > p {
    color: #62668E;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 20px; }
  button.left_btns_slide {
    left: -16px;
    width: 32px;
    height: 32px; }
  button.right_btns_slide {
    right: -16px;
    width: 32px;
    height: 32px; }
  .special_offer_headers {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start; }
  .columns_slide_block.headers {
    text-align: left;
    /* justify-content: start; */ }
  .columns_slide_block.headers > h3 {
    color: #1E255E;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 10px; }
  .count_down_sections {
    padding: 8px 8px; }
  span.productss_prices {
    color: #FF4668;
    font-size: 13px; }
  span.small_price_for_catelog {
    color: #FF4668;
    font-size: 10px; }
  .ratings {
    margin-right: 8px; }
  .ratings > ul > li > a > i {
    font-size: 15px; }
  .contact_details {
    justify-content: start; }
  .customer_services_content {
    margin-bottom: 32px;
    justify-content: flex-start; }
  .customer_services {
    padding-left: 24px;
    padding-right: 24px; }
  button.customer_ser_btns {
    width: 100%; }
  .inner_contact_details {
    width: 100%; }
  .form_boxs {
    flex-direction: column;
    /* align-items: self-start; */ }
  .subs_txt_fields {
    margin-bottom: 22px; }
  .inner_subs_cribe_cont > h4 {
    font-size: 24px;
    margin-bottom: 15px; }
  .inner_subs_cribe_cont {
    margin-bottom: 38px; }
  .subs_txt_fields > input {
    width: 345px; }
  .footer_logo_sections > img {
    width: 170px !important; }
  .footer_content {
    margin-bottom: 25px; }
  .footer_columns {
    margin-bottom: 35px; }
  .pd_item {
    margin: auto;
    width: 100%; }
  .product_slide_cards {
    margin: auto; }
  .special_offer_headers.width_auto_100 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between; }
  img.prod_bg_shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%; }
  .special_offer_headers.width_auto_100 > .columns_slide_block.headers > h3 {
    margin-bottom: 0; }
  .desk_top_side_ber {
    display: none; }
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .special_offer.best-selling.desk_top_testimonial_slider {
    display: none; }
  .special_offer.best-selling.mobile_top_testimonial_slider {
    display: block; }
  .testimonial_content_box > img {
    width: 95%;
    position: absolute;
    left: -2px;
    transform: scale(1);
    top: -53px; }
  .inner_testimonial_content_box {
    width: 86%;
    margin: auto; }
  .inner_testimonial_content_box {
    top: 35px; }
  .testimonial_icons > span > img {
    width: 36px !important; }
  .inner_contact_details > ul {
    margin-top: 16px; }
  .inner_contact_details > ul > li {
    padding: 17px 0px;
    padding-bottom: 16px;
    padding-top: 0; }
  .testimonial_content_box {
    height: 100%; }
  .subscribe_sections {
    margin-top: 70px; }
  .customer_services {
    margin-top: 80px; }
  a.toogler_sideber {
    position: absolute;
    top: 20px;
    right: -60px;
    z-index: 99999; }
  a.toogler_sideber > span {
    display: flex;
    width: 60px; }
  .side_ber_sections {
    background: white;
    box-shadow: none;
    border-radius: 14px; }
  .mobile_top_side_ber {
    display: block; }
  .inner_side_ber_sections > ul {
    padding: 0px 0px;
    padding-right: 12px; }
  .logo {
    display: flex;
    align-items: center; }
  a.humber_ger_icon {
    display: block; }
  a.humber_ger_icon > span {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px; }
  a.see_ll_btns.ratings_txt {
    font-size: 12px; }
  .product_button {
    display: none; }
  .testimonials .owl-dots {
    position: relative;
    top: 48px; }
  .testimonial_card {
    width: 85%;
    margin: auto; }
  .footer_title_headers {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer_list {
    display: none; }
  .mobile_none {
    display: block; }
  .mobss_none {
    display: none; }
  h4.desk-headers {
    display: none; }
  h4.footer_title_headers {
    display: flex; }
  .footer_copy_right_descriptions.only_description_areasss {
    align-items: center;
    justify-content: center;
    margin-top: 18px; }
  .inner_subs_cribe_cont > h4 {
    font-size: 23px;
    margin-bottom: 13px; }
  .inner_subs_cribe_cont > p {
    color: white;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 400;
    line-height: unset;
    margin-bottom: 0; }
  .product_img_boxs {
    padding-top: 18px; }
  .product_img_boxs > img {
    width: 78px;
    margin: auto; }
  button.right_btns_slide_for_menu {
    box-shadow: 0px 4px 20.8px rgba(0, 0, 0, 0.13); }
  button.left_btns_slide_for_menu {
    box-shadow: 0px 4px 20.8px rgba(0, 0, 0, 0.13); }
  .product_count_item_areas {
    display: flex;
    height: 100%;
    align-items: center; }
  .product_page_header {
    margin-top: 0;
    margin-bottom: 85px; }
  .dtc_table_boxs {
    width: 100%; }
  .product_detail_thumb_dot_items {
    border-radius: 10px;
    border: 1px #E4E4E4 solid;
    width: 80px;
    height: 60px; }
  .product_detail_thumb_dot_items_inner > img {
    width: 46px !important; }
  span.product_details_tag_dtl.desktop_tag {
    display: none; }
  .product_detail_main_thumb_img_boxs {
    display: block; }
  span.product_details_tag_dtl.mobs_tag {
    z-index: 9;
    position: absolute;
    right: -28px;
    top: -44px;
    display: block; }
  .header_titles > h4 {
    line-height: unset; }
  .product_details_content_areas {
    padding-left: 13px;
    padding-top: 20px;
    padding-bottom: 13px; }
  .buying_product_details {
    margin-bottom: 25px; }
  .table_heading_title.product_delivery_date {
    margin-bottom: 22px; }
  label.cart_label_title {
    color: #B5B5C3;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.36px;
    word-wrap: break-word;
    margin-bottom: 8px; }
  .table_heading_title.price, .table_heading_title.sum {
    flex-direction: column;
    align-items: flex-end; }
  a.delete_product {
    display: none !important; }
  .table_heading_title.product_delivery_date {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .table_heading_title.product_delivery_date > h4 {
    color: #1E255E;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1;
    word-wrap: break-word; }
  .desk-top-table-header {
    display: none; }
  .mobile-top-table-header {
    display: block; }
  .table_heading_title.price {
    margin-bottom: 22px; }
  .table_product_item {
    display: flex;
    align-items: start;
    padding-left: 14px; }
  a.mobile_delete {
    color: #8795A7;
    font-size: 22px;
    margin-right: 15px;
    margin-top: 32px;
    display: block; }
  .total_count_product_sections {
    display: none; }
  .button_delete_product_item {
    justify-content: center; }
  .total_count_product_sections {
    display: none; }
  .button_delete_product_item {
    justify-content: center; }
  .promo_field > input {
    width: 100%; }
  .promo_txt_section {
    justify-content: space-between;
    margin-bottom: 34px; }
  .mobile {
    display: block; }
  .desktop {
    display: none; }
  label.cart_label_title {
    display: block; }
  .cart_progress_bers {
    display: none; }
  .col_shapes {
    position: relative;
    width: 76px; }
  .col_shapes img {
    width: 100%; }
  span.del_num {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #3F4254;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word; }
  .mobile_del_time {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
  .header_titles > h4 {
    margin-bottom: 10px; }
  .top_inner_section {
    flex-direction: column;
    width: 100%; }
  .col_m_inputs {
    width: 100%; }
  .input_fields > input {
    width: 100%; }
  .next_tools_sections {
    padding: 20px 24px; }
  .progress_bers {
    display: none; }
  button.submit_btns_areas {
    width: 100%; }
  .submit_btn_areas {
    width: 100%; }
  .col_or {
    margin: 15px 0px; }
  .register_form_header {
    padding: 24px 24px; }
  .register_form_content {
    padding: 20px 24px; }
  .back_btns > button {
    width: 100%; }
  .option_column.left_colss.border_right {
    border-right: 0; }
  .option_column.left_colss.border_right {
    padding-right: 0;
    padding-bottom: 27px;
    border-bottom: 1px solid #E5EAEE !important;
    margin-bottom: 27px; }
  .main_cd_content > h4 {
    color: #1E255E;
    font-size: 12px !important;
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word; }
  .delivery_tomorow {
    width: 100%; }
  .row_item {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .inner_dyesko_pro_section_emoji {
    display: grid;
    grid-template-columns: repeat(2, 2fr); }
  .comp_list > ul {
    display: grid;
    grid-template-columns: repeat(5, 2fr); }
  .comp_list > ul > li > span > img {
    width: 20px; }
  .payment_card_content > h4 {
    font-size: 15px; }
  .payment_card_wrapers {
    padding: 12px 22px; }
  label.radio-card .card-content {
    justify-content: center; }
  .inner_option_heading_column h4 {
    color: #21C4AC;
    font-size: 15px; }
  .desk_nones {
    display: block; }
  .bottom_submition_sectionss {
    padding-top: 0; }
  .table_heading_title.sum.fav_page {
    flex-direction: row;
    align-items: center;
    height: 100%; }
  .table_heading_title.table_action_areas.fav_page {
    justify-content: end; }
  .order_summary_header.order_numbers {
    padding-right: 0px;
    flex-direction: column; }
  .order_summary_header.order_numbers {
    justify-content: space-between;
    align-items: self-start;
    padding-right: 0px;
    flex-direction: column; }
  .order_summary_header.order_numbers > h4 {
    font-size: 15px;
    font-weight: 600;
    line-height: 38px; }
  .order_summary_header.order_numbers > .button_tools_wraper {
    margin-left: 0; }
  .order_summary_header.order_numbers > .button_tools_wraper > button.custom_order_btn_history {
    margin-left: 0;
    color: white;
    font-size: 10px;
    line-height: 1;
    padding: 8px 12px;
    border-radius: 6px; }
  .table_heading_title.quantity {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%; }
  .table_heading_title.quantity > h4 {
    text-align: left; }
  .top_blank_space {
    height: 0px !important;
    /* width: 88% !important; */ }
  .right_side_description {
    width: 88% !important;
    margin-bottom: 20px; }
  .gray_boxs_wraper {
    padding: 24px 20px;
    padding-top: 0; }
  .inner_total_prod_list_areas > ul > li > span.total_label.left_data {
    font-size: 14px; }
  .gray_boxs_wraper_inners {
    padding: 15px 16px; }
  .about_description_wraper_main_container {
    padding: 24px 18px;
    margin-bottom: 30px; }
  .top_col_desc p {
    font-size: 12px;
    line-height: unset;
    word-wrap: break-word;
    margin-bottom: 16px; }
  .list_heading h4 {
    color: #21C4AC;
    font-size: 14px;
    margin-bottom: 12px; } }

@media only screen and (max-width: 1920px) and (min-width: 1080px) {
  .testimonial_content_box {
    position: relative;
    width: 83%;
    margin: auto; }
  .testimonial_content_box > img {
    position: absolute;
    left: -89px;
    transform: scale(1);
    top: -110px; }
  .inner_testimonial_content_box {
    position: relative;
    top: 30px; } }

@media only screen and (max-width: 1480px) and (min-width: 1000px) {
  .desk_top_menus > ul > li > a {
    font-size: 12px; }
  .desk_top_menus > ul > li {
    display: inline-block;
    margin: 0px 15px; }
  .desk_top_menus > ul {
    text-align: center; } }

@media only screen and (max-width: 999px) and (min-width: 300px) {
  .owl-item > li > a {
    font-size: 10px !important; }
  .owl-item > li > a > span > img {
    width: 20px !important;
    margin-bottom: 10px;
    height: 20px; }
  span.menu-txt {
    line-height: 1;
    margin-top: 4px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center; } }

@media only screen and (max-width: 450px) and (min-width: 300px) {
  .menu-section.mobile_slides_menus {
    top: 25px; } }

@media only screen and (max-width: 767px) and (min-width: 300px) {
  .product_filter_category_sections.only_off_grid {
    display: grid;
    grid-template-columns: repeat(1, 2fr); }
  .cats_filtest.only_off {
    width: 210px;
    margin-bottom: 14px; }
  .dropdown-content {
    left: -70px; } }
